[Desktop Entry]
Name=Concordia: Digital Edition
Comment=Play this game on Steam
#Exec=steam steam://rungameid/1450330
Exec=env STEAM_DISABLE_X11=1 QT_QPA_PLATFORM=wayland QT_QPA_PLATFORMTHEME=gnome SDL_VIDEODRIVER=wayland steam steam://rungameid/1450330
Icon=steam_icon_1450330
Terminal=false
Type=Application
Categories=Game;
