[Desktop Entry]
Name=Dire Wolf Game Room
Comment=Play this game on Steam
#Exec=steam steam://rungameid/1406720
Exec=env STEAM_DISABLE_X11=1 QT_QPA_PLATFORM=wayland QT_QPA_PLATFORMTHEME=gnome SDL_VIDEODRIVER=wayland steam steam://rungameid/1406720
Icon=steam_icon_1406720
Terminal=false
Type=Application
Categories=Game;
