[Desktop Entry]
Name=Dominion
Comment=Play this game on Steam
#Exec=steam steam://rungameid/1131620
Exec=env STEAM_DISABLE_X11=1 QT_QPA_PLATFORM=wayland QT_QPA_PLATFORMTHEME=gnome SDL_VIDEODRIVER=wayland steam steam://rungameid/1131620
Icon=steam_icon_1131620
Terminal=false
Type=Application
Categories=Game;
